@model NonProfitCRM.Models.LocalPasswordModel
@{
    List<string> allRoles = new List<string>();
    ViewBag.PreTitle = "change";
    ViewBag.Title = "Password";
    ViewBag.PathTitle = "list of Users >";
}

<section class="widget">
    <header></header>
    <div class="widget-body">
        @using (Html.BeginForm(null, null, new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post,
            new
            {
                @class = "form-horizontal",
                @data_parsley_priority_enabled = "false",
                @novalidate = "novalidate",
                @id = "validation-form"
            }))
        {
            <fieldset>
                <legend>Change password for <span class="fw-semi-bold">@ViewBag.UserName</span></legend>
                @Html.Partial("_ValidationSummary", ViewData.ModelState)
                <div class="form-group">
                    @Html.LabelFor(m => m.NewPassword, "New Password", new { @class = "col-sm-3 control-label" })
                    <div class="col-sm-9">
                        <input type="password" id="NewPassword" name="NewPassword" class="form-control mb-sm"
                               data-parsley-trigger="change"
                               data-parsley-minlength="6"
                               required="required"
                               value="@Model.NewPassword"
                               placeholder="New Password">
                        <input type="password" id="ConfirmPassword" name="ConfirmPassword" class="form-control"
                               data-parsley-trigger="change"
                               data-parsley-minlength="6"
                               data-parsley-equalto="#NewPassword"
                               required="required"
                               value="@Model.ConfirmPassword"
                               placeholder="Confirm password">
                    </div>
                </div>
            </fieldset>
            <div class="btn-toolbar">
                <a href="@ViewBag.ReturnUrl" class="btn btn btn-default pull-right">Cancel</a>
                <button type="submit" name="save" class="btn btn btn-primary pull-right">Change password</button>
            </div>
        }
    </div>
</section>
@Scripts.Render("~/Content/sing/vendor/form-js")
@Html.Partial("_ParsleyLoader", "validation-form")
