@model NonProfitCRM.Models.HomeModel
@{
    ViewBag.Title = "Dashboard";
}

<div class="content-wrap">
    <!-- main page content. the place to put widgets in. usually consists of .row > .col-md-* > .widget.  -->
    <main id="content" class="content" role="main">
        <div class="row">
            <div class="col-md-6 widget-container ui-sortable">
                <section class="widget">
                    <header>
                        <h5>
                            <span class="label label-primary"><i class="fa fa-search-plus"></i></span>
                            Rychlé hledání
                        </h5>
                        <div class="widget-controls">
                        </div>
                    </header>
                    <div class="widget-body no-padding">
                        <form style="padding-bottom:24px; padding-left:24px; padding-right: 24px" action="@Url.Action("Dashboard", "Home")" method="get">
                            <div class="input-group input-group-sm">
                                <input type="text" name="search"
                                       value="@Model.Search" class="form-control" placeholder="hledej ...">
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-default">
                                        Hledej
                                    </button>
                                </span>
                            </div>
                        </form>
                        <div class="list-group list-group-lg">
                            @if (Model.Search.Length > 0)
                            {
                                bool notFound = true;
                                foreach (var item in Model.NonProfitOrgList)
                                {
                                    notFound = false;
                                    <a href="@Url.Action("Detail", "NonProfitOrg", new { id = item.Id, returnUrl = Request.RawUrl })" class="list-group-item">
                                        <span class="thumb-sm pull-left mr">
                                            <i class="fa fa-group mt-0" style="font-size:24px"></i>
                                        </span>
                                        @if (item.Deleted)
                                        {
                                            <i class="fa fa-circle pull-right text-danger mt-sm"></i>
                                        }
                                        <h5 class="no-margin"><b>Neziskovka: </b>@item.Name</h5>
                                        <small class="text-muted"><b>Kontakt: </b>@item.Contact2Name, @item.Contact2Phone</small>
                                    </a>
                                }
                                foreach (var item in Model.CompanyList)
                                {
                                    notFound = false;
                                    <a href="@Url.Action("Detail", "Company", new { id = item.Id, returnUrl = Request.RawUrl })" class="list-group-item">
                                        <span class="thumb-sm pull-left mr">
                                            <i class="fa fa-university mt-0" style="font-size:24px"></i>
                                        </span>
                                        @if (item.Deleted)
                                        {
                                            <i class="fa fa-circle pull-right text-danger mt-sm"></i>
                                        }

                                        @if (item.StatusId == 0)
                                        {<span class="label label-success pull-right mt-sm">aktivní</span>}
                                        else if (item.StatusId == 1)
                                        {<span class="label label-default pull-right mt-sm">lead</span>}
                                        else
                                        {<span class="label label-danger pull-right mt-sm">neaktivní</span>}
                                        <h5 class="no-margin"><b>Firma: </b>@item.Name</h5>
                                        <small class="text-muted"><b>Kontakt: </b>@item.Contact2Name, @item.Contact2Phone</small>
                                    </a>
                                }
                                foreach (var item in Model.EventList)
                                {
                                    notFound = false;
                                    <a href="@Url.Action("Detail", "Event", new { id = item.Id, returnUrl = Request.RawUrl })" class="list-group-item">
                                        <span class="thumb-sm pull-left mr">
                                            <i class="fa fa-bullhorn mt-0" style="font-size:24px"></i>
                                        </span>
                                        @if (item.Deleted)
                                        {
                                            <i class="fa fa-circle pull-right text-danger mt-sm"></i>
                                        }

                                        @if (item.Closed == null)
                                        {<span class="label label-success pull-right">aktivní</span>}
                                        else
                                        {<span class="label label-default pull-right">ukončená</span>}
                                        <h5 class="no-margin"><b>Akce: </b>@item.Name - <b>@NonProfitCRM.Components.DateHelper.FormatDateShort(item.DateOfEvent, User.Identity.Name)</b></h5>
                                        <small class="text-muted"><b>Firma: </b>@item.CompanyName, <b>Neziskovka: </b> @item.NonProfitOrgName</small>
                                    </a>
                                }

                                if (notFound)
                                {
                                    <p style="padding-left:24px; color: red">
                                        Nic nebylo nalezeno ...
                                    </p>
                                }
                            }
                        </div>
                    </div>
                </section>
                <section class="widget bg-gray">
                    <div class="widget-body no-padding">
                        <div class="jumbotron handle bg-gray text-white mb-0 ui-sortable-handle">
                            <div class="container">
                                <h1>Hestia CRM!</h1>
                                <p class="lead">
                                    <em>Pro</em> lepší fungování dobrovolníků a neziskovek.
                                </p>
                                <a class="btn btn-danger btn-lg" data-widgster="restore" style="display: none;">
                                    Want to go back?
                                </a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-md-6 widget-container ui-sortable">
                <div class="row">
                    <div class="col-md-6">
                        <section class="widget bg-gray text-white">
                            <div class="widget-body clearfix">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <span class="widget-icon">
                                            <i class="glyphicon glyphicon-certificate"></i>
                                        </span>
                                    </div>
                                    <div class="col-xs-9">
                                        <h5 class="no-margin">Akce v <b>@Model.StatsEvents.Year</b> ke dnešku</h5>
                                        <p class="h2 no-margin fw-normal">@Model.StatsEvents.CountThisYear</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-3">
                                    </div>
                                    <div class="col-xs-9">
                                        <h5 class="no-margin">Rozdíl proti @(Model.StatsEvents.Year - 1)</h5>
                                        <p class="value4">@(Model.StatsEvents.CountThisYear - Model.StatsEvents.CountLastYear)</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-6">
                                        <h5 class="no-margin">Q1: <b>@(Model.StatsEvents.Q1Count)</b></h5>
                                    </div>
                                    <div class="col-xs-6">
                                        <h5 class="no-margin">Q2: <b>@(Model.StatsEvents.Q2Count)</b></h5>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-6">
                                        <h5 class="no-margin">Q3: <b>@(Model.StatsEvents.Q3Count)</b></h5>
                                    </div>
                                    <div class="col-xs-6">
                                        <h5 class="no-margin">Q4: <b>@(Model.StatsEvents.Q4Count)</b></h5>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="col-md-6">
                        <section class="widget bg-primary text-white">
                            <div class="widget-body clearfix">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <span class="widget-icon">
                                            <i class="glyphicon glyphicon-user"></i>
                                        </span>
                                    </div>
                                    <div class="col-xs-9">
                                        <h5 class="no-margin">Dobrovolníci ve <b>@Model.StatsEventsPeople.Year</b> ke dnešku</h5>
                                        <p class="h2 no-margin fw-normal">@Model.StatsEventsPeople.CountThisYear</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-3">
                                    </div>
                                    <div class="col-xs-9">
                                        <h5 class="no-margin">Rozdíl proti @(Model.StatsEventsPeople.Year - 1)</h5>
                                        <p class="value4">@(Model.StatsEventsPeople.CountThisYear - Model.StatsEventsPeople.CountLastYear)</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-6">
                                        <h5 class="no-margin">Q1: <b>@(Model.StatsEventsPeople.Q1Count)</b></h5>
                                    </div>
                                    <div class="col-xs-6">
                                        <h5 class="no-margin">Q2: <b>@(Model.StatsEventsPeople.Q2Count)</b></h5>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-6">
                                        <h5 class="no-margin">Q3: <b>@(Model.StatsEventsPeople.Q3Count)</b></h5>
                                    </div>
                                    <div class="col-xs-6">
                                        <h5 class="no-margin">Q4: <b>@(Model.StatsEventsPeople.Q4Count)</b></h5>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <section class="widget">
                            <header class="ui-sortable-handle">
                                <h5>
                                    <span class="label label-primary"><i class="fa fa-tasks"></i></span> &nbsp;
                                    Otevřené <span class="fw-semi-bold">Úkoly</span>
                                </h5>
                                <div class="widget-controls">
                                    <div class="ml-sm mr-n-xs"><a title="Zobrazovat pouze mé úkoly" onclick="handleIsMyTaskOnChanged(); window.location.reload();" href="#"><i id="myEventSwitcher" class="fa fa-circle-thin fa-lg"></i> pouze mé úkoly</a></div>
                                </div>
                            </header>
                            <div class="widget-body no-padding">
                                <div class="list-group list-group-lg">

                                    @foreach (var item in Model.TaskList)
                                    {
                                        string icon = "fa-circle";
                                        switch (item.Entity)
                                        {
                                            case "Event":
                                                icon = "fa-bullhorn";
                                                break;
                                            case "Company":
                                                icon = "fa-university";
                                                break;
                                            case "NonProfitOrg":
                                                icon = "fa-group";
                                                break;
                                        }

                                        <a href="@Url.Action("Detail", "Task", new { id = item.Id, returnUrl = Request.RawUrl })" class="list-group-item">
                                            <span class="thumb-sm pull-left mr">
                                                <i class="fa @Html.Raw(icon) mt-0" style="font-size:24px"></i>
                                            </span>
                                            @if (item.DueDate < DateTime.Now)
                                            {
                                                <span class="thumb-sm pull-left mr">
                                                    <i class="fa fa-exclamation-circle text-danger mt-0" style="font-size:24px"></i>
                                                </span>
                                            }
                                            <i class="fa fa-circle pull-right text-@Html.Raw(item.StatusColor) mt-sm"></i>
                                            <h5 class="no-margin"><b>@NonProfitCRM.Components.DateHelper.FormatDateShort(item.DueDate, User.Identity.Name)</b> - @item.Description</h5>
                                            <small class="text-muted"><b>@item.EntityName - @item.AssignedTo</b> - @item.Note</small>
                                        </a>
                                    }
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

<script>
    $(document).ready(function () {
        drawIsMyTaskOnChange();
    });

    function drawIsMyTaskOnChange() {
        var IsMyTaskOn = getCookie("nonprofitorgIsMyTaskOn");
        if (IsMyTaskOn === "false") {
            $("#myEventSwitcher").removeClass('fa-check-circle').addClass('fa-circle-thin');
        } else {
            $("#myEventSwitcher").removeClass('fa-circle-thin').addClass('fa-check-circle');
        }
    }

    function handleIsMyTaskOnChanged() {
        var IsMyTaskOn = getCookie("nonprofitorgIsMyTaskOn");
        if (IsMyTaskOn === "false") {
            setCookie('nonprofitorgIsMyTaskOn', 'true', 2000);
        } else {
            setCookie('nonprofitorgIsMyTaskOn', 'false', 2000);
        }
        drawIsMyTaskOnChange();
    }

</script>
