<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Hestia - CRM</title>
    <link rel="shortcut icon" href="~/Images/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    @Styles.Render("~/Content/sing/css/sing")
    @Styles.Render("~/Content/custom/css")
    <script>
        /* yeah we need this empty stylesheet here. It's cool chrome & chromium fix
         chrome fix https://code.google.com/p/chromium/issues/detail?id=167083
         https://code.google.com/p/chromium/issues/detail?id=332189
         */
    </script>
</head>

@{  NonProfitCRM.Models.NavBarModel nbModel = new NonProfitCRM.Models.NavBarModel();
    nbModel.CurrentAction = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    nbModel.CurrentController = ViewContext.Controller.ValueProvider.GetValue("controller").RawValue.ToString();
    //create Nav Bar tree
    {
        nbModel.AddItem(new NonProfitCRM.Models.NavBarModel.NavBarItem("fa fa-desktop", "Dashboard", "Home", "Dashboard"));
    }
    if (NonProfitCRM.Components.SystemHelper.IsInRole(NonProfitCRM.Components.SystemHelper.Roles.FRD))
    {
        nbModel.AddItem(new NonProfitCRM.Models.NavBarModel.NavBarItem("fa fa-calendar", "Kalendář", "Calendar", "Calendar"));
        nbModel.AddItem(new NonProfitCRM.Models.NavBarModel.NavBarItem("fa fa-bullhorn", "Akce", "Event", "List"));
        nbModel.AddItem(new NonProfitCRM.Models.NavBarModel.NavBarItem("fa fa-university", "Firmy", "Company", "List"));
        nbModel.AddItem(new NonProfitCRM.Models.NavBarModel.NavBarItem("fa fa-group", "Neziskovky", "NonProfitOrg", "List"));
    }
    if (NonProfitCRM.Components.SystemHelper.IsInRole(NonProfitCRM.Components.SystemHelper.Roles.FRD_SYSTEM_ADMINISTRATOR))
    {
        NonProfitCRM.Models.NavBarModel.NavBarItem itm = new NonProfitCRM.Models.NavBarModel.NavBarItem("fa fa-cog", "Settings");
        itm.AddSubitem(new NonProfitCRM.Models.NavBarModel.NavBarSubItem("Security log", "Log", "SecurityLog"));
        itm.AddSubitem(new NonProfitCRM.Models.NavBarModel.NavBarSubItem("Šablony úkolů", "TaskTemplate", "List"));
        nbModel.AddItem(itm);
    }
}
    <body @Html.Raw((nbModel.CurrentAction == "Index" && nbModel.CurrentController == "Home")?"":"class='nav-collapsed'") >
@Scripts.Render("~/Content/sing/vendor/libs-js")
@Scripts.Render("~/Content/sing/js/apps-js")
@Scripts.Render("~/Content/sing/vendor/spec-js")

@Html.Partial("_NavBar", nbModel)

        <!-- This is the white navigation bar seen on the top. A bit enhanced BS navbar. See .page-controls in _base.scss. -->
        <nav class="page-controls navbar navbar-default">
            <div class="container-fluid">
                <!-- .navbar-header contains links seen on xs & sm screens -->
                <div class="navbar-header">
                    <ul class="nav navbar-nav">
                        <li>
                            <!-- whether to automatically collapse sidebar on mouseleave. If activated acts more like usual admin templates -->
                            <a class="hidden-sm hidden-xs" id="nav-state-toggle" href="#" title="Turn on/off sidebar collapsing" data-placement="bottom">
                                <i class="fa fa-bars fa-lg"></i>
                            </a>
                            <!-- shown on xs & sm screen. collapses and expands navigation -->
                            <a class="visible-sm visible-xs" id="nav-collapse-toggle" href="#" title="Show/hide sidebar" data-placement="bottom">
                                <span class="rounded rounded-lg bg-gray text-white visible-xs"><i class="fa fa-bars fa-lg"></i></span>
                                <i class="fa fa-bars fa-lg hidden-xs"></i>
                            </a>
                        </li>
                        <li class="ml-sm mr-n-xs hidden-xs"><a onclick="window.location.reload();" href="#"><i class="fa fa-refresh fa-lg"></i></a></li>
                        <li class="ml-sm mr-n-xs hidden-xs"><a title="Zobrazovat i smazané záznamy" onclick="handleIsDelOnChanged(); window.location.reload();" href="#"><i id="myDeletedSwitcher" class="fa fa-minus-square-o fa-lg"></i></a></li>
                        <li class="ml-sm mr-n-xs hidden-xs"><a class="fs-mini">@NonProfitCRM.Components.SystemHelper.GetAssemblyName()</a></li>
                    </ul>
                    <!-- xs & sm screen logo -->
                    <a class="navbar-brand visible-xs" href="index.html">
                        <i class="fa fa-circle text-gray mr-n-sm"></i>
                        <i class="fa fa-circle text-warning"></i>
                        &nbsp;
                        Hestia
                        @Html.Raw(NonProfitCRM.Properties.Settings.Default.INSTALLTYPE != "" ? " - " + NonProfitCRM.Properties.Settings.Default.INSTALLTYPE : "")
                        &nbsp;
                        <i class="fa fa-circle text-warning mr-n-sm"></i>
                        <i class="fa fa-circle text-gray"></i>
                    </a>
                </div>

                <!-- this part is hidden for xs screens -->
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">

                        @if (NonProfitCRM.Properties.Settings.Default.INSTALLTYPE != "")
                        {
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle dropdown-toggle-notifications" id="notifications-dropdown-toggle" data-toggle="dropdown">
                                    <strong style="font-size:large; color: red">@NonProfitCRM.Properties.Settings.Default.INSTALLTYPE</strong>
                                </a>
                            </li>
                        }

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle dropdown-toggle-notifications" id="notifications-dropdown-toggle" data-toggle="dropdown">
                                <strong>@NonProfitCRM.Components.SystemHelper.GetUserName</strong>
                            </a>
                        </li>
                        <li class="dropdown">
                            <a href="@Url.Action("LogOff","Account")" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-cog fa-lg"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="@Url.Action("SignOut","Home")"><i class="fa fa-sign-out"></i> &nbsp; Log Out</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        @if (nbModel.CurrentAction == "Dashboard" && nbModel.CurrentController == "Home")
        {
            @RenderBody()
        }
        else
        {
            <div id="body" class="content-wrap">
                <!-- main page content. the place to put widgets in. usually consists of .row > .col-md-* > .widget.  -->
                <main id="content" class="content" role="main">
                    @if (ViewBag.Title != null && ViewBag.Title != "")
                    {
                        <ol class="breadcrumb">
                            <li>JSTE ZDE</li>
                            <li class="active">@ViewBag.PathTitle @ViewBag.Title</li>
                        </ol>
                        <h1 class="page-title">@ViewBag.PreTitle <span class="fw-semi-bold">@ViewBag.Title</span></h1>
                    }

                    @RenderBody()
                </main>
            </div>
        }

        <!-- The Loader. Is shown when pjax happens -->
        <div class="loader-wrap hiding hide">
            <i class="fa fa-circle-o-notch fa-spin-fast"></i>
        </div>

        <script>
            $(document).ready(function () {
                drawIsDelOnChange();
            });

            function drawIsDelOnChange() {
                var isDelOn = getCookie("nonprofitorgIsDelOn");
                if (isDelOn === "true") {
                    $("#myDeletedSwitcher").removeClass('fa-minus-square-o').addClass('fa-minus-square');
                } else {
                    $("#myDeletedSwitcher").removeClass('fa-minus-square').addClass('fa-minus-square-o');
                }
            }

            function handleIsDelOnChanged() {
                var isDelOn = getCookie("nonprofitorgIsDelOn");
                if (isDelOn === "true") {
                    setCookie('nonprofitorgIsDelOn', 'false', 2000);
                }else{
                    setCookie('nonprofitorgIsDelOn', 'true', 2000);
                }
                drawIsDelOnChange();
            }

        </script>
</body>
</html>
