@model IEnumerable<NonProfitCRM.Models.Task>
@using NonProfitCRM.Components

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">
                .
            </th>
            <th scope="col">
                Stav
            </th>
            <th scope="col" class="hidden-xs">
                Datum
            </th>
            <th scope="col">
                Popis
            </th>
            <th class="hidden-xs hidden-sm">
                Přiřazeno
            </th>
            <th>
                .
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var _itm in Model)
        {
        <tr>
            <td class="">
                @if (_itm.DueDate < DateTime.Now && _itm.StatusId < 1000)
                {
                    <span class="glyphicon glyphicon-exclamation-sign" style="font-size: 16px; color: red" aria-hidden="true"></span>
                }
            </td>
            <td>
                <span class="label label-@Html.Raw(_itm.TaskStatus.Color)">@_itm.TaskStatus.Name</span>
            </td>
            <td class="hidden-xs">@DateHelper.FormatDateShort(_itm.DueDate, User.Identity.Name)</td>
            <td>
                @Html.ActionLink((string)_itm.Description.ToString(), "Detail", "Task",
                    new { id = _itm.Id, returnUrl = Request.RawUrl }, null)
            </td>
            <td class="hidden-xs hidden-sm">
                @_itm.AssignedTo
            </td>
            <td>
                @if (_itm.StatusId != 1000)
                {
                    @Html.ActionLink("Dokončit", "Detail", "Task",
                        new { id = _itm.Id, returnUrl = Request.RawUrl+"#tab1", cmd = "DONE" }, new { @class = "btn-sm btn-success" })
                }
            </td>
        </tr>
        }
    </tbody>
</table>
